* {
  margin: 0;
  padding: 0;
  
}

header {
  height: 100px;
  width: auto;
  background: black;
  margin-top: 0px;
   box-shadow: 0 0 50px black;
}

.slide{
height: 2100px;
width: 150px;
position: absolute;
background-color: black;
transition: 0.5s ease;
transform: translateX(-180px);

}
h1{
margin-top: 40px;
color: white;
font-weight: 800;
text-align: right;
padding: 5px 0;
padding-right: 30px;
padding-top: 35px;
pointer-events: none;
}
ul li{
list-style: none;
}
ul li a{
margin-top: 20px;
color:white;
font-weight: 500;
padding: 5px 0;
padding-left: 20px;
display: block;
text-transform: capitalize;
text-decoration: none;
transition: 0.2s ease-out;
}
ul li a i{
width: 40;
text-align: center;
}
input{
  
display: none;
visibility: hidden;
-webkit-appearance: none;

}
.toggle{
margin-left: 30px;
position: absolute;
height: 30px;
width: 30px;
top: 40px;
left: 15px;
z-index: 1;
cursor: pointer;
border-radius: 2px;
background-color: white;
box-shadow: 0 0 20px white;

}

.toggle .common{
position: absolute;
height: 2px;
width: 20px;
background-color: black;
border-radius: 50px;
transition: 0.3s ease;
}

.toggle .top_line{
top: 30%;
Left: 50%;
transform: translate(-50%,-50%);
}

.toggle .middle_line{
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.toggle .bottom_line{
top: 70%;
left: 50%;
transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
Left: 2px;
top: 14px;
width: 25px;
transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
Left: 2px;
top: 14px;
width: 25px;
transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
opacity: 0;
transform: translateX(20px);
}
input:checked ~ .slide{
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
} 

@media (max-width: 1000px) {
  .slide {
    height: 2150px;
   
  }

}